{% extends 'base.html' %}

{% block title %}
{{ user.username }}'s Profile'
{% endblock title %}

{% block content %}
<main>

    <body>
        Welcome, {{ user.username }}!

        <h2>Your Recipes</h2>
        <ul>
            {% for recipe in recipes %}
            <li>
                <a href='/recipe_detail/{{ recipe.id }}'>{{ recipe.name }}</a>
            </li>
            {% endfor %}
        </ul>

        <h3>Your ingredients</h3>
        <ul>
            {% for ingredient in ingredient_list %}
            <li>
                {{ ingredient.name }}
            </li>
            {% endfor %}
        </ul>
    </body>

</main>
{% endblock content %}